body {
  font-family: 'poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
}

@media (min-width: 375px) {
  html {
    font-size: 16px;
  }

  a {
    text-decoration: none;
  }

  .maincontainer {
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 96%;
    padding: 0.5%;
    margin: 0.5%;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
  }

  .mainmenu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    height: 1rem;
  }

  .LogoPlaceholder {
    display: flex;
    flex-direction: row;
    width: 7rem;
    height: 1rem;
    padding-left: 1rem;
    justify-content: start;
  }

  .itemnavigation {
    display: flex;
    margin-right: 2rem;
    flex-direction: row;
    width: 7rem;
    height: 1rem;
    justify-content: end;
  }

  .navitems {
    padding: 0.3rem;
  }

  .healdline {
    display: flex;
    flex-direction: column;
  }

  .headlinebody {
    display: flex;
    flex-direction: column;
    padding: 0;
    position: absolute;
  }

  .aboutmeh3 {
    width: 30rem;
    height: 9.18rem;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3rem;
    color: #344563;
  }

  .introductionclass {
    margin-top: 2rem;
    display: flex;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #172b4d;
    font-weight: 700;
    font-size: 1.4em;
    line-height: 2em;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .second_primary_text {
    margin-top: 0.1rem;
    display: flex;
    flex: 1;
    height: 5em;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #344563;
  }

  .letconnect {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    height: 1rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1rem;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #7f8cff;
  }

  .socialmedia {
    margin-top: 1rem;
    display: flex;
    flex: 1;
    width: 13.6rem;
    height: 1rem;
  }

  .enabled {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    position: absolute;
    width: 5.18rem;
    height: 3rem;
    left: 6.25rem;
    background: #fff;
    border: 0.625rem solid #7f8cff;
    border-radius: 0.5rem;
  }

  .Hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    position: absolute;
    width: 5.1rem;
    height: 3rem;
    left: 15.75rem;
    background: #6070ff;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    border-radius: 0.75rem;
  }

  .Pressed {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    position: absolute;
    width: 5.18rem;
    height: 3rem;
    left: 25rem;
    background: #2230d2;
    border-radius: 1rem;
  }

  .disabled {
    width: 3.68rem;
    height: 2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #5e6c84;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .media {
    display: flex;
    list-style: none;
    padding-left: 0;
    width: 2.8rem;
    height: 1.5rem;
  }

  .media li {
    flex: 1;
  }

  .mywork {
    display: grid;
    grid: 4, 1fr;
    justify-content: center;
    justify-items: center;
    margin-right: 35%;
    margin-left: 20%;
  }

  .myproject {
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: 0.1rem solid #dfe1e6;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1.6rem;
  }

  .pheader {
    display: flex;
  }

  .ptitle {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 15rem;
    height: 1rem;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    color: #172b4d;
  }

  .details {
    margin-top: 0.01rem;
    display: flex;
    margin-left: 0.1rem;
    flex-direction: row;
    padding: 0;
  }

  .details ul {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    margin-left: 0.5rem;
  }

  .details ul li {
    margin: 0;
    padding: 0;
  }

  .everyday {
    margin-top: 05rem;
  }

  .conpoy {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 5rem;
    height: 3rem;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    color: #344563;
  }

  .backeddev {
    width: 8rem;
    height: 1rem;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    color: #7a869a;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .text2015 {
    width: 3rem;
    height: 1rem;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #7a869a;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .p-details {
    display: flex;
    flex-direction: row;
  }

  .p-details ul {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .p-details ul li {
    text-align: center;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 1rem;
  }

  .socialmedia ul li {
    flex: 1;
  }

  .p-details ul li:first-child {
    font-size: 1.3rem;
    font-style: normal;
    line-height: 1.6rem;
    color: #344563;
    font-weight: 600;
    flex: 1;
  }

  .p-details ul li:nth-child(3) {
    font-size: 1.3rem;
    font-style: normal;
    line-height: 1.6rem;
    color: #7a869a;
    font-weight: 600;
    flex: 3;
  }

  .p-details ul li:nth-child(5) {
    font-size: 1.3rem;
    font-style: normal;
    line-height: 1.6rem;
    color: #7a869a;
    font-weight: 600;
    flex: 1;
  }

  .button {
    margin-top: 8%;
    margin-right: 40%;
    margin-left: 4%;
    margin-bottom: 6%;
    width: 8rem;
    height: 1rem;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 0.1rem solid #396df2;
    border-radius: 0.8rem;
    padding: 1rem;
  }

  .button:hover {
    background-color: #6070ff;
    color: #fff;
    box-shadow: 5px 5px 15px 5px rgba(64, 83, 252, 0.24);
  }

  .button:active {
    background-color: #2230d2;
    color: #fff;
  }

  .about-me {
    background-color: #fff;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 1.2rem 0;
    padding: 0 2.4rem;
    border-top-right-radius: 15%;
    margin-right: 35%;
    margin-left: 2%;
    margin-top: 1rem;
  }

  .about-me .title {
    font-weight: bold;
    font-size: 4rem;
    line-height: 5.2rem;
    color: #172b4d;
    flex-basis: 32.7rem;
    margin-top: 11.4rem;
  }

  .about-me p {
    color: #344563;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2.4rem;
    flex-basis: 32.7rem;
    margin: 0;
  }

  .contactme {
    color: #7f8cff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    flex-basis: 100%;
  }

  .titletext {
    width: 23rem;
    height: 2.1rem;

    /* Header / 2 */
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.25rem;

    /* or 130% */
    display: flex;
    align-items: center;

    /* Neutrals/N800 */
    color: #172b4d;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .titletext2 {
    margin-top: 1rem;
    width: 23rem;
    height: 1rem;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .projectstack {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-basis: 29.5rem;
    display: flex;
    gap: 0 0.8rem;
  }

  .projectstack li a {
    font-style: normal;
    font-size: 1rem;
    line-height: 1rem;
    color: #6070ff;
    background-color: #ebebff;
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
  }

  .projectstack a:hover {
    text-decoration: underline;
  }

  .about-me .skills {
    flex-basis: 100%;
  }

  .about-me .skills ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .skilssitem {
    width: 6rem;
    flex-basis: 7.2rem;
    border-bottom: 0.1rem solid #dfe1e6;
    color: #000;
    font-weight: 400;
    font-size: 3rem;
    line-height: 7.2rem;
  }

  .widepic {
    width: 15rem;
    flex-basis: 7.2rem;
    border-bottom: 0.1rem solid #dfe1e6;
    color: #000;
    font-weight: 400;
    font-size: 3rem;
    line-height: 7.2rem;
  }
}
