@import "https://fonts.googleapis.com/css2?family=Poppins&display=swap%22";

body {
  min-width: 100%;
}

.fixed-header,
.fixed-footer {
  width: 100%;
  position: fixed;
  background: #333;
  padding: 10px 0;
  color: #fff;
}

.fixed-header {
  top: 0;
}

.fixed-footer {
  bottom: 0;
}

.myportfolio {
  display: flex;
  background-color: lightgray;
  min-height: 100%;
  flex-flow: column wrap;
  width: 28rem;
}

.flex-item {
  flex-grow: 1;
  background-color: white;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  border-bottom-left-radius: 10rem 5rem;
  padding: 1rem;
  overflow: hidden;
}

.gridarea1 {
  grid-row: 1 /2;
  grid-column: 1 /2;
  background-color: white;
}

.gridarea2 {
  grid-row: 2/3;
  grid-column: 1 /2;
  background-color: white;
}

.Works {
  background-color: white;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  order: 2;
  padding: 2rem;
  margin: 1rem;
  overflow: hidden;
  box-sizing: border-box;
  border: 0.16rem solid #dfe1e6;
  border-radius: 1rem;
  width: 23.4375rem;
  height: 38.5rem;
  align-items: center;
}

.workflex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background: #fff;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.workgrid {
  display: grid;
  background-color: white;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  row-gap: 0.1rem;
}

.workchildx {
  display: flex;
  padding-left: 0.027rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 17.56rem;
  height: 1.5rem;
  list-style: none;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin-left: 0.3rem;
}

.projectstack {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-basis: 29.5rem;
  display: flex;
  gap: 0 0.8rem;
}

.buttonx {
  margin-top: 8%;
  margin-right: 40%;
  margin-left: 4%;
  margin-bottom: 6%;
  width: 12rem;
  height: 1rem;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 0.1rem solid #396df2;
  border-radius: 0.8rem;
  padding: 1rem;
}

.button {
  display: flex;
  width: 9.375rem;
  height: 1.5rem;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 3rem;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  margin-bottom: 3rem;
}

.button:hover {
  background-color: #192f88;
}

.button:active {
  background-color: #633e8e;
}

.timenetwork {
  order: 0;
}

.toolbar_headline {
  order: 1;
}

.headerx {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1rem;
}

.logox {
  margin-left: 2rem;
  flex-grow: 1;
  flex-basis: 50%;
}

.navigation {
  margin-left: 10.4375rem;
  flex-grow: 1;
  flex-basis: 50%;
}

.headline {
  background-image: url("./img/header_mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 3rem;
  margin-left: 2rem;
  padding-bottom: 2rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

h1 {
  width: 20rem;
  height: 9.375rem;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  display: flex;
  align-items: center;
  color: #172b4d;
  order: 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.footer {
  width: 25.4375rem;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.3rem;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

h3 {
  width: 20.4375rem;
  height: 9.125rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

h4 {
  width: 10.3125rem;
  height: 1.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #7f8cff;
  flex: none;
  order: 2;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

#socialmedia {
  width: 10.635625rem;
  height: 1.25rem;
  flex: none;
  order: 3;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.socialmediaclass {
  padding-bottom: 2rem;
}

.cardimage {
  width: 6rem;
  height: 3rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.h33 {
  padding-left: 0.625rem;
  width: 19rem;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.conopy {
  width: 4.6875rem;
  height: 1.5rem;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.124rem;
  line-height: 1.5rem;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.backend {
  width: 7.5rem;
  height: 1.5rem;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #6b778c;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.year2015 {
  width: 2.375rem;
  height: 1.5rem;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #6b778c;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.h8 {
  width: 20rem;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  align-items: center;
  color: #172b4d;
  order: 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.boxsmall {
  width: 3.025rem;
  height: 1rem;
  border-color: #fff;

  /* Button / Small */

  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;

  /* identical to box height, or 133% */
  margin-left: 1rem;
  letter-spacing: 0.03em;

  /* Primary/B400 */

  color: #6070ff;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.p-languages2 {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  gap: 1rem;
  padding-left: 0.625rem;
  padding-top: 0.1rem;
}

.language2 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.2rem;
  letter-spacing: 0.04em;
  color: #6070ff;
  background: #ebebff;
  border: 1.25rem;
  border-radius: 0.4rem;
  height: 1.5rem;
}

.button2 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  color: #396df2;
  background-color: #fff;
  border-radius: 0.625rem;
  border: 1px solid #396df2;
  padding-left: 0.625rem;
  cursor: pointer;
  width: 7.875rem;
  height: 3rem;
}

.button2:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
  transform: translate(5px, 0);
  transition: 0.5s all;
}

.counter {
  margin-top: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #c1c7d0;
}

.toolbar_footer {
  order: 4;
}

.footerbar {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  order: 10;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.flex-bottom {
  flex-grow: 1;
  background-color: white;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  border-top-right-radius: 10rem 5rem;
  overflow: hidden;
  order: 11;
  margin-bottom: 0;
  padding-bottom: 0;
}

.flex-part2 {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  background-color: white;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.progrmming-skill {
  background-color: #fff;
  width: 90%;
  height: 32rem;
}

.programming-tools {
  display: grid;
  grid-template-columns: 1fr;
}

.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-right: 25px;
  margin-top: 0;
}

.caption-languagex {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  height: 1.5rem;
  font-size: 1rem;
  color: #000;
  margin-top: 1.875rem;
  margin-left: 1rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
  line-height: 1.5rem;
  align-items: center;
  display: flex;
}

.downarrow {
  margin-left: 1rem;
  padding-left: 1rem;
}

.forward {
  padding-left: 15rem;
  margin-left: 2rem;
}

.forward2 {
  padding-left: 12rem;
  margin-left: 2rem;
}

.programming-language-name {
  display: grid;
  gap: 2px;
}

.language-name {
  display: flex;
  align-items: flex-start;
  background: #f7f7f9;
  border-radius: 8px;
  height: 66.72px;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
}

.language-image {
  margin-top: 8px;
  margin-left: 8px;
}

.language-text {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-top: 22px;
  margin-left: 15px;
}

.tab-caption-framework {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-top: 30px;
  padding-bottom: 20px;
}

.tab-framework {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px #dfe1e6;
  margin-left: 15px;
  margin-right: 30px;
}

.tab-caption-skill {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-top: 30px;
  padding-bottom: 15px;
}

.tab-skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px #dfe1e6;
  margin-left: 15px;
  margin-right: 30px;
}

.button3 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  color: #396df2;
  background-color: #fff;
  border-radius: 0.625rem;
  border: 1px solid #396df2;
  padding-left: 0.625rem;
  cursor: pointer;
  width: 9.875rem;
  height: 3rem;
}

.button3:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
  transform: translate(5px, 0);
  transition: 0.5s all;
}

.h9 {
  width: 20.4375rem;
  height: 9.18rem;

  /* Body / 2 */

  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;

  /* or 150% */


  /* Neutrals/N600 */

  color: #344563;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
